#page { 
	margin: 0 auto;
	width: 999px;
	background: url("http://dl.dropbox.com/u/2291825/COM530_images/bg.png") repeat-y;
	color: #444444;
    font-family: 'Trebuchet MS',Arial,sans-serif;
} 

ul.accessibility
{ position: absolute; left:-20000px;}


#header
{ 
    font-family: 'Eras Medium ITC','Arial',sans-serif;
    font-size: 36px;
    font-weight: normal;
    height: 110px;
    padding: 30px 30px 0px 10px;
    text-align: left;
	background: url("http://dl.dropbox.com/u/2291825/COM530_images/header.png") no-repeat bottom;
}

#header a {
    color: #221111;
    padding: 10px;
    text-decoration: none;
}
#header a:hover {
    color: #A52A2A;
	border: none;
}

#description {
    color: #666666;
    font-family: Candara,'Trebuchet MS';
    font-size: 20px;
    padding: 3px 3px 3px 20px;
}

#sub_header
{
	color: #221111;
	text-align: right; 
	float: right;
	padding-top: 15px;
	font-style: italic;
	font-size: 14px; 
}

#content {
    margin-right: 255px;
    padding: 15px 15px 30px 15px;
}

p#breadcrumbs
{
line-height: 200%;
font-style: italic;
border-bottom: dashed;
border-width: thin;
background-color: #F3F3F3;
border-color: #CCCCCC;
position: relative;
bottom: 10px;
}

span.file_type {
	font-size: 60%;
	border-style: inset;
	border-width: thin;
	}

#footer {
    background: url("http://dl.dropbox.com/u/2291825/COM530_images/footer.png") repeat-y center;
    font-size: 12px;
    height: 140px;
    text-align: center;
}

#footer p{
	padding: 20px;
	margin: 0px auto;
}

#footer #badges li img {
	height: 20px;
	width: 55px;
	}



/*begin styling the navigation bar*/
div#nav {
	position: absolute;
	top: 105px;
	right: 140px;
}

div#nav li
{
float: right;
border-style: none dotted;
border-width: thin;
padding: 0px 2px;
margin: 0px 2px;
font-size: 18px;
color: #221111;
}

div#nav a
{ 
display: block;
text-decoration: none;
font-weight: normal; 
}

div#nav a:hover {
background-color: #A52A2A;
color: white;
}

#vertical_bar {
	position: absolute;
	right: 120px;
	top: 180px;
	}

#vertical_bar li {
	line-height: 200%;
	display: block;
	border-bottom: dotted;
	border-width: thin;
	border-color: #CCCCCC;
	}

#vertical_bar a {
	display: block;
	}

#vertical_bar a:hover {
	font-weight: bold;
	}

/*end styling the navigation bar*/




/*styling the normal text and global elements*/

strong
{	font-style:italic; 
	line-height: 200%; 
	font-weight: bold;
	font-size: 14px;}

a {
	text-decoration: none;
	color: #A52A2A;
}


#content a:hover{
	text-decoration: none;
	border-bottom: dotted;
	border-width: thin;
}

p.taller_lines {
	line-height: 200%;
}

ul li 
{ 
list-style-type: none;
}

ul.has_bullet li {
	list-style-type: disc;
	margin-left: 50px;
	}

h2
{
font-size: 20px;
}

h3
{ text-transform: uppercase; 
  line-height:150%;
  font-size: 16px;
  border-bottom: solid;
  border-width: thin;
  border-color: #CCCCCC;
  }

h4
{
font-size:16px;
line-height:150%
}

h2, h3, h4
{
font-weight: bold;
color: #00008B; 
}

h2 a, h3 a, h4 a {
	color: #00008B;
	}


/*end styling the normal text and global elements*/



/* portfolio-specific CSS begins */

img
{ 
border: inset;
border-color: #CCCCCC;
}

.pf_area {
	font-size: 18px;
	font-weight: bold;
	}

.pf_quote {
	font-style: italic;

	}

ul#portfolio_index li
{
border-top-style: solid; 
border-width: thin;
border-color: #CCCCCC;
margin: 10px 0px;
}

ul#portfolio_index li a {
	font-weight: bold;
	line-height: 150%;
	}


ul#portfolio_index img
{
 margin-top: 20px;
 width: 220px;
 height: 135px;
}

ul#portfolio_index li ul li {	
	border: none;
	list-style-type: disc;
	font-size: 12px;
	width: 180px;
	margin: 0px 15px;
	float: right;
	position: relative;
	bottom: 150px;
	}


ul#portfolio_index li.hasjs p:hover {
	cursor: pointer;}

ul#portfolio_index li.hasjs .pf_description
{display: none;
}

.pf_entry
{ 
text-decoration: none;
font-size: 18px;
font-family: Arial; 
font-weight: bold; 
line-height: 150%;
border-top-style: solid; 
display: block;
border-color: #CCCCCC;}

ul#portfolio_index li.hasjs p.pf_quote:hover
{
cursor: pointer; 
background: url("http://dl.dropbox.com/u/2291825/COM530_images/expand.png") no-repeat;
background-position: right center;
background-color: #F3F3F3;
}

/* portfolio-specific CSS ends */





/* resume-related CSS begins */
p#name
{
font-size: 22px; text-align: center; line-height: 200%;
}

address
{
font-size: 18px; text-align: center; line-height: 200%;
}

#content div {
	margin: 10px;
	}

.hide {
	display: none;
	}

h3.hasjs:hover
{
cursor: pointer; 
line-height: 200%;
background: url("http://dl.dropbox.com/u/2291825/COM530_images/expand.png") no-repeat;
background-position: right center;
background-color: #F3F3F3;
}

.resume ul li {
	list-style-type: square;
	}

.resume ul li.no_bullet {
	list-style-type: none;
	}

/* resume-related CSS ends */
